
body {
font-family: 'Segoe UI', sans-serif;
margin: 0;
padding: 0;
background: #fffafa;
}

header {
background-color: #38ad17;
padding: 20px;
color: white;
text-align: center;
}

nav {
background-color: #fff;
display: flex;
justify-content: space-around;
padding: 15px 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
position: sticky;
top: 0;
z-index: 10;
}

nav a {
text-decoration: none;
color: #38ad17;
font-weight: bold;
padding: 8px 12px;
border-radius: 8px;
transition: background-color 0.3s;
}

nav a:hover {
background-color: #ffe5e5;
}

.container {
max-width: 800px;
margin: 40px auto;
padding: 20px;
}

section {
display: block;
}
  

section.active {
display: block;
animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
from { opacity: 0; transform: translateY(10px); }
to { opacity: 1; transform: translateY(0); }
}

footer {
text-align: center;
padding: 20px;
background-color: #eee;
margin-top: 40px;
}

.card {
background: white;
padding: 20px;
border-radius: 12px;
margin-bottom: 2rem;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}

.card:hover{
cursor: pointer;
transition: all ease-in-out 0.6s;
transform: scale(1.05);
}

.search-box {
text-align: center;
margin-bottom: 20px;
}

.search-box input {
padding: 10px;
width: 80%;
max-width: 400px;
font-size: 16px;
border-radius: 8px;
border: 1px solid #ccc;
}

.botao-voltar {
display: inline-block;
margin-top: 1rem;
background-color: #004d26;
color: white;
padding: 10px 25px;
text-decoration: none;
border-radius: 25px;
font-weight: bold;
}
.botao-login {
margin-top: 1rem;
display: inline-block;
background-color: #ffffff;
color: #007c3c;
padding: 10px 20px;
text-decoration: none;
border-radius: 20px;
font-weight: bold;
}
.botao-cadastro {
display: inline-block;
margin-top: 1rem;
background-color: #007c3c;
color: white;
padding: 10px 20px;
border-radius: 25px;
text-decoration: none;
font-weight: bold;
}
  
.servicos {
padding: 2rem;
background-color: #ffffff;
}
  
.grid-servicos {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
gap: 1rem;
margin-top: 1rem;
}
  
.card-servico {
background-color: #e6f5ec;
padding: 1.5rem;
text-align: center;
border-radius: 15px;
font-size: 1.1rem;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);   
  }  
  
  .depoimentos {
background-color: #f0fbf6;
padding: 2rem;
text-align: center;
}
  
.depoimentos-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
margin-top: 1rem;
}
  
.depo-card {
background-color: #ffffff;
padding: 1rem;
border-radius: 12px;
width: 250px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  
.depo-card img {
width: 80px;
height: 80px;
border-radius: 50%;
}

@media (max-width: 600px) {
.grid-servicos {
grid-template-columns: 1fr 1fr;
  } 
  
.depoimentos-grid {
flex-direction: column;
align-items: center;
    }
}